{{extend 'layout.html'}}
<link rel="stylesheet" href="{{=URL('static', 'css/stupid.css')}}">
<link rel="stylesheet" href="{{=URL('static', 'css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{=URL('static', 'css/custom.css')}}">
<script src="{{=URL('static', 'js/default_index.js')}}"></script>

<div class="container event-text">
  <div class="row">
    <h1>Choose an Event Category</h1>
  </div>
  <div class="row event-text">
    <div class="col-md-4 football">
      <a href="#">
        <img onclick="location.href='{{=URL('default', 'sportsPage')}}'" class="football-image" src="{{=URL('static', 'images/football.png')}}">
        <div class="overlay">
          <div class="overlay-text">Sports</div>
        </div>
      </a>
    </div>
    <div class="col-md-4 controller">
      <a href="#">
        <img onclick="location.href='{{=URL('default', 'videoPage')}}'" class="controller-image" src="{{=URL('static', 'images/category_controller.png')}}">
        <div class="overlay">
          <div class="overlay-text">Video Games</div>
        </div>
      </a>
    </div>
    <div class="col-md-4 dice">
      <a href="#">
        <img onclick="location.href='{{=URL('default', 'boardPage')}}'" class="dice-image" src="{{=URL('static', 'images/dice.png')}}">
        <div class="overlay">
          <div class="overlay-text">Board Games</div>
        </div>
      </a>
    </div>
  </div>
</div>
